.tableContainer {
  background-color: #272c34;
  border: 1px solid #3a414c;
  border-radius: 12px;
}

.th {
  color: #cccccc;
}

.td {
  color: #ffffff;
}

.tr {
  border-color: #3a414c;
}

.tr:last-child {
  border-bottom: none;
}

.noData {
  color: #cccccc;
}
