.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
}

.th,
.td {
  padding: 1rem 1.5rem; /* 16px 24px */
  text-align: left;
  font-size: 0.875rem; /* 14px */
}

.th {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tr {
  border-bottom: 1px solid;
}

.noData {
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}
