.tableContainer {
  background-color: #ffffff;
  border: 1px solid #e3e6ea;
  border-radius: 12px;
}

.th {
  color: #555555;
}

.td {
  color: #222222;
}

.tr {
  border-color: #e3e6ea;
}

.tr:last-child {
  border-bottom: none;
}

.noData {
  color: #555555;
}
