.navBar {
  background-color: #1d2127;
  color: #fff;
}

.menuIcon:nth-child(1) {
  background: #fff;
}

.menuIcon:nth-child(2) {
  background: #fff;
}

.menuIcon:nth-child(3) {
  background: #fff;
}

.menuContainer {
  background-color: rgba(39, 44, 52, 0.85);
}

.menuItem {
  color: #fff;
  transition: all 0.3s ease;
}

.menuItem:hover {
  background-color: rgba(58, 63, 71, 0.7);
}
