.navBar {
  background-color: #fff;
  color: #000;
}


.menuIcon:nth-child(1) {
  background: #000;
}

.menuIcon:nth-child(2) {
  background: #000;
}

.menuIcon:nth-child(3) {
  background: #000;
}

.menuContainer {
  background-color: rgba(232, 235, 238, 0.85);
}

.menuItem {
  color: #000;
  transition: all 0.3s ease;
}

.menuItem:hover {
  background-color: rgba(208, 212, 217, 0.7);
}
