/* welcomeCommon.module.css */

.container {
  width: 600px;
  height: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.textContainer {
  padding-left: 80px;
  padding-top: 200px;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

.text {
  font-family: 'Open Sans';
  margin-bottom: 10px;
  font-size: 28px; /* Increase the text size as desired */
  font-weight: bold;
}

.visible {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ghulamMujtaba {
  font-family: 'Open Sans';
  font-size: 52px;
  font-weight: 600;
  animation: letterAnimation 2s forwards;
  
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph {
  font-size: 28px;
  font-weight: lighter;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Open Sans';
  text-align: justify ;
}

@keyframes letterAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wordAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%; /* Adjust width to fit smaller screens */
    height: auto; /* Let height be determined by content */
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
    text-align: left; /* Center text horizontally on smaller screens */

  }

  .textContainer {
    padding-left: 10%; /* Remove left padding */
    margin-right: 10%;
    margin-top: 400px; /* Adjust top padding for better spacing */
    opacity: 1; /* Set opacity to 1 by default for smaller screens */
    
  }



}

@media screen and (max-width: 576px) {
  .container {
    width: 100%; /* Adjust width to fit smaller screens */
    height: auto; /* Let height be determined by content */
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
    text-align: left; /* Center text horizontally on smaller screens */
  }

  .textContainer {
    padding-left: 35px; /* Remove left padding */
    margin-right: 35px;
    margin-top: 270px; /* Adjust top padding for better spacing */
    opacity: 1; /* Set opacity to 1 by default for smaller screens */
  }

  .text {
    font-family: 'Open Sans';
    margin-bottom: 0px;
   
    font-size: 24px; /* Decrease text size for better readability on smaller screens */
    font-weight: bold;
    

  }

  .ghulamMujtaba {
    font-size: 30px; /* Decrease font size for better readability on smaller screens */
    margin-bottom: 0px;
    margin-top: 0px;
    animation: letterAnimation 2s forwards;
    
  }

  .paragraph {
    font-size: 18px; /* Decrease font size for better readability on smaller screens */
    font-weight: normal;
  }
}
