.label {
  color: var(--color-text-primary-dark);
}

.uploaderBox {
  border-color: var(--color-border-dark);
  background-color: var(--color-bg-secondary-dark);
}

.uploaderBox:hover {
  background-color: var(--color-bg-tertiary-dark);
}

.error {
  color: var(--color-error-dark);
}

.dragOver {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark-accent);
}

.uploadButton {
  background-color: var(--color-primary-dark);
  color: var(--color-text-button-dark);
  border-color: var(--color-primary-dark);
}

.uploadButton:hover {
  background-color: var(--color-primary-hover-dark);
}
