.label {
  color: var(--color-text-primary-light);
}

.input {
  background-color: var(--color-bg-primary-light);
  border-color: var(--color-border-light);
  color: var(--color-text-primary-light);
}

.input:focus {
  border-color: var(--color-primary-light);
  box-shadow: 0 0 0 3px var(--color-primary-light-focus);
}

.error {
  color: var(--color-error-light);
}

.button {
  background-color: var(--color-primary-light);
  color: var(--color-text-button-light);
}

.button:hover {
  background-color: var(--color-primary-hover-light);
}
