.cardContainer {
  background-color: #272c34;
  border: 1px solid #3a414c;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  color: #ffffff;
}

.noDataText {
  color: #cccccc;
}
