.statCard {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.statCard h3 {
  color: #595959;
}

.statCard p {
  color: #262626;
}

.chartContainer {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.recentActivity ul li {
  border-bottom: 1px solid #f0f0f0;
}

.recentActivity ul li:last-child {
  border-bottom: none;
}

.quickActions button {
    background-color: #1890ff;
    color: white;
}

.quickActions button:hover {
    background-color: #40a9ff;
}
