.container {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
}

.title {
  color: #111827;
}

.actionButton {
  background-color: #f3f4f6;
  color: #374151;
}

.actionButton:hover {
  background-color: #e5e7eb;
}
