.widgetContainer {
  background-color: #272c34;
  border: 1px solid #3a414c;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.1);
}

.widgetContainer:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 6px 16px rgba(0, 0, 0, 0.12);
}

.iconContainer {
  background-color: #3a414c;
  color: #4573df; /* Brand Blue */
}

.title {
  color: #cccccc;
}

.value {
  color: #ffffff;
}
