    .theme-toggle-icon {
    display: none; /* Hide by default */
  }
  
  .theme-toggle-icon img {
    width: 30px; /* Adjust size as needed */
    height: auto;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .theme-toggle-icon {
      display: block; /* Show on small screens */
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 1000; /* Ensure it appears on top of other elements */
      border-radius: 50%; /* Make it a circle */
      width: 45px; /* Fixed width */
      height: 45px; /* Fixed height */
      display: flex; /* Center the image */
      justify-content: center; /* Center the image */
      align-items: center; /* Center the image */
    }
  
    .theme-toggle-icon.light {
      background-color: #272c34; /* Light theme background color */
    }
  
    .theme-toggle-icon.dark {
      background-color: #272c34; /* Dark theme background color */
    }
  }
  